apache_listen_ip: "*"
apache_listen_port: 80
apache_ExtendedStatus: "on"
apache_vhosts:
  - servername: "staging.sandboxworms.me" 
    documentroot: "/var/www/vhosts/staging_sandboxworms"
    extra_parameters: |
            # ErrorLog logs/apache2/error.log
            #CustomLog logs/apache2/access.log
            <Location "/server-status">
                SetHandler server-status
                # Order allow,deny
                #Deny from all
                #Allow from sandboxworms.me
                # Require host localhost           #uncomment to only allow requests from localhost
            </Location>
  - servername: "www.sandboxworms.me"
    doumentroot: "/var/www/vhosts/prod_sandboxworms"
datadog_api_key: "d7ab829523a74e8c7ca3a0ae27aa5cee"
datadog_agent_version: "6.0.0-1" # for apt-based platforms, use a `6.0.0-1` format on yum-based platforms
datadog_config:
  tags: "mytag0, mytag1"
  log_level: INFO
  apm_enabled: "true" # has to be set as a string
  logs_enabled: true  # log collection is available on agent 6
  process_config: true
datadog_config_ex:
  trace.config:
    env: dev
  trace.concentrator:
    extra_aggregators: version
datadog_checks:
  process:
    init_config:
    instances:
      - name: ssh
        search_string: ['ssh', 'sshd' ]
        #      - name: syslog
        #        search_string: ['rsyslog' ]
        #        cpu_check_interval: 0.2
        #        exact_match: true
        #        ignore_denied_access: true
      - name : apache
        search_string: ['httpd']
  apache:
    init_config:
    instances:
      - apache_status_url: http://staging.sandboxworms.me/server-status?auto
    logs:
      - type: file
        path: /var/log/apache2/access.log
        source: apache
        sourcecategory: http_web_access
        service: apache
      - type: file
        path: /var/log/apache2/error.log
        source: apache
        sourcecategory: http_web_access
        service: apache
